
// Fonts
@import url('https://fonts.googleapis.com/css?family=Lato|Roboto+Condensed:700&subset=latin-ext');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

//Fontawesome
@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '~@fortawesome/fontawesome-free/scss/solid.scss';

@function calc-add-px($some-number, $another-number : 0){
  @return $some-number + $another-number + px;
}

body{
  background-image: url($img-path);
  /* Background pattern from Toptal Subtle Patterns */
  font-family: $default-font;
  //font-family: $header-font;

  .header-font{
    font-family: $header-font;
    letter-spacing: 0.05rem;
  }
}

.navbar, .v-b-font{
  font-family: $header-font;
  letter-spacing: 2px;
}

/* Sticky footer styles------------------------ */
html {
  position: relative;
  min-height: 100%;
  /*New in CSS*/
  scroll-behavior: smooth;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: calc-add-px($footer-height, 30);
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: calc-add-px($footer-height, 30);
  background-color: $white;
}

@include media-breakpoint-up(md) {
  body {
    /* Margin bottom by footer height */
    margin-bottom: calc-add-px($footer-height);
  }
  .footer {
    /* Set the fixed height of the footer here */
    height: calc-add-px($footer-height);
  }
}
/*-------------------------------------------*/
/*-----------CollapseSerachBar---------------*/

#collapseSearchBar{
  width: 100%;
}

/*---------------Main content----------------*/

.graduate-card__avatar{
  background-color: $gray;
}

@include media-breakpoint-up(sm) {

  .graduate-card {

    img{
      border-radius: 50%;
    }

  }

}

.graduate-card__img{
  position: relative;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
  &:hover{
    transform: scale(0.9);

    .graduate-card__img--file {
      opacity: 0.6;
    }

    .graduate-card__img--link{
      display: block;
      text-decoration: none;
    }
  }

  .graduate-card__img--file{
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: all 0.4s ease-in-out;
  }
  .graduate-card__img--link{
    display: none;
    font-size: 1.5rem;
    letter-spacing: 0.5rem;
    font-family: $header-font;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    transition: all 0.4s ease-in-out;
  }

  @include media-breakpoint-up(lg) {

    .graduate-card__img--link{
      font-size: 2.5rem;
      letter-spacing: 0.8rem;
    }

  }

  @include media-breakpoint-up(xl) {

    .graduate-card__img--link{
      font-size: 3.5rem;
      letter-spacing: 1rem;
    }

  }
}

.shared {
  color: $indigo;
}

.border-shared {
  border-width:5px !important;
  border-color:$indigo !important;
}
/*--------Go up button/circle buttons---------*/
.btn-circle {
  // width: 30px;
  // height: 30px;
  // padding: 6px 0px;
  border-radius: 50%;
  text-align: center;
  // font-size: 12px;
  // line-height: 1.42857;
}

#btn-go-up{
  display: none;
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 2000;
}

/*--------------File Buttons-------------------*/
input[type='file']{
  padding: 0;
  line-height: 200%;
}

.cloneDiv{
  position: relative;
  height: 36px;

  .insideCheckboxDiv {
    position: absolute;
    right: 90px;
    top: 6px;
    text-align: center;
    z-index: 100000;
  }
}

/*-----------Sliders--------------*/

.carousel-inner{

  img{
    border-radius: 1%;
  }

  .carousel-caption-new{
    position: absolute;
    bottom: 20px;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #f3eeee;
    text-align: center;
    background-color: rgba(128,128,128,.95);
    width: 100%;
  }

}