
// Fonts
@import url('https://fonts.googleapis.com/css?family=Lato|Roboto+Condensed:700&subset=latin-ext');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

//Fontawesome
@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '~@fortawesome/fontawesome-free/scss/solid.scss';

@function calc-add-px($some-number, $another-number : 0){
  @return $some-number + $another-number + px;
}

body{
  background-image: url($img-path);
  /* Background pattern from Toptal Subtle Patterns */
  font-family: $default-font;
  //font-family: $header-font;
}

.navbar, .v-b-font{
  font-family: $header-font;
  letter-spacing: 2px;
}

/* Sticky footer styles------------------------ */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: calc-add-px($footer-height, 30);
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: calc-add-px($footer-height, 30);
  background-color: $white;
}

@include media-breakpoint-up(md) {
  body {
    /* Margin bottom by footer height */
    margin-bottom: calc-add-px($footer-height);
  }
  .footer {
    /* Set the fixed height of the footer here */
    height: calc-add-px($footer-height);
  }
}
/*-------------------------------------------*/
/*-----------CollapseSerachBar---------------*/

#collapseSearchBar{
  width: 100%;
}

/*---------------Main content----------------*/

.graduate-card__avatar{
  background-color: $gray;
}

@include media-breakpoint-up(sm) {

  .graduate-card {

    img{
      border-radius: 50%;
    }

  }

}